body{
    background-color: palevioletred;
    margin:0;
    
}
.centerr {  text-align: center;
}
.center {
    text-align: center;
    border: 3px solid rgb(128, 0, 0);
  }

.card-container {
    /* perspective: 800px; */
    width: 150px;
    height: 200px;
    margin: 20px 20px;
    z-index: 0;
    transition: transform .5s, z-index 0s .2s;
    
}
.card-container:hover {
    transition: transform .5s, z-index 0s 0s;
    z-index: 3;  
}

.card-container:hover .card {
    transform: rotateY(180deg);
    transition: transform .5s;
    /* margin: 30px; */
}

.card-container:hover .black-h {
    transform: rotateY(180deg);
    transition: transform .5s;
    background-color: rgb(197, 68, 68);
    color: black;
    border: 2px solid rgb(0, 0, 0);
}

.card {
    /* border: 8px dotted green; */
    margin: 1px;
    padding: 10px;
    width: 150px;
    height: 200px;
    transition: transform 1.5s;
    transform-style: preserve-3d;
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;    
}

/* .card-link {
    background-color: black;
} */

.card-content {
    position: absolute;
    text-align: center;
    color: white;
    background-color: rgb(226, 155, 203);
    border: 3px solid white;
    border-radius: 20px;
    overflow: hidden;
    padding: 12px;
    width: 96%;
    height: 100%;
    display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
}

.card-content > h4 {
    color: var(--canvas-orange);
}

.front, .back {
    backface-visibility: hidden;
    position: absolute;
}
 
.back {
    transform: rotateY(180deg);
    justify-content: space-around;
}

.back p {
    font-size: .95em;
}

.front > * {margin: 5px auto;}
.front > h4 {font-size: 1.5em; color: var(white);}
.fon{
    font-family: 'Love Ya Like A Sister', cursive;
}

.back > div {
    width: 80%;
}

/* .back > div > a {
    display: block;
    font-size: 16px;
    margin: 4px auto;
    border: 2px solid white;
    border-radius: 5px;
    text-decoration: none;
}

.back > div > a:hover {
    background-color: black;
} */
 


 .titlesec {
     text-align: left;
     border: 3px solid rgb(128, 0, 0);
     font-size-adjust: 1;
     
     
 }
 .inner{
    background-color: rgba(189, 52, 52, 0.438);
    width: windowpx;
     height: 300px;
     display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
 }
 .sidenav {
    width: 130px;
    height: 240px;
    position: fixed;
    z-index: 10;
    top: 400px;
    right: 20px;
    text-align-last: left;
    background: rgb(226, 187, 187);
    border:4px solid lightcoral;
    border-radius: 20px;
    overflow-x: hidden;
    padding: 8px ;

}
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 23px;
    color: #bd4ab38a;
    display: block;
}

.sidenave a:hover {
    cursor: pointer;
}
.comment{
    position: absolute;
    text-align: center;
    color: rgb(163, 52, 94);
    background-color: rgb(226, 155, 203);
    border: 6px solid rgb(163, 52, 94);
    border-radius: 20px;
    overflow: hidden;
    padding: 5px;
    width: 800px;
    height: 170px;
    display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    ;
}
